*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    position: absolute;
    align-items: center;
    /* background-image: url(home.jpg);*/
    background-image: url(assets/1_USE_MUST03-3591972989.jpg);
}
.container{
  width: 380px;
  border-radius: 0.75rem;
  border: solid 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 100px; 
  margin-left: 380px;    
  background-color: rgba(252, 253, 255, 0.927);
  padding: 2rem;
  color: rgb(208, 208, 209);
  align-items: center;
}
.container h1{
  font-size: 36px;
  text-align: center;
                  
}

.input {
  display: inline;
  width: 300px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}

.button {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #151515;
  color: #eee;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-out;
  margin-left: 100px;
}

.button:hover {
  transform: translateY(-3px);
}

.button-span {
  color: #aaa;
}
a{
  text-decoration: none;
  color: #0102049d;
}

