/*
#272635 -- dark
#CECECE -- grey
#cf0000 -- red
#E8E9F3 -- light
#007d9c -- blue
*/
/* General styling */

label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px; /* Increased margin for more spacing */
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Increased margin for more spacing */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"],
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

/* Form container styling */
.form-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 750px;
   
}

.form-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-container form div {
    margin-bottom: 21px; /* Increased margin for more spacing */
}

/* Optional: Add some spacing between form elements */
.form-container form div:last-child {
    margin-bottom: 21px;
}
